import { request } from "#src/utils/request";

/**
 * 分页查询${functionName}列表
 * @param query
 * @returns {*}
 */
export function page(query: any) {
    return request.get<ApiListResponse<${ModuleName}.${BusinessName}>>('${moduleName}/${businessName}/page', { searchParams: query }).json();
}

/**
 * 根据ID查询${functionName}
 * @param ${pkColumn.javaField}
 */
export function getById(id: string | number) {
    return request.get<ApiResponse<${ModuleName}.${BusinessName}>>(`${moduleName}/${businessName}/${id}`).json();
};

/**
 * 新增${functionName}
 * @param data
 */
export function create(data: ${ModuleName}.${BusinessName}) {
    return request.post<ApiResponse<void>>('${moduleName}/${businessName}', { json: data }).json();
}

/**
 * 修改${functionName}
 * @param data
 */
export function update(data: ${ModuleName}.${BusinessName}) {
    return request.put<ApiResponse<void>>('${moduleName}/${businessName}', { json: data }).json();
}

/**
 * 删除${functionName}
 * @param ids
 */
export function deleteByIds(ids: Array<number | string>) {
    return request.delete<ApiResponse<void>>(`${moduleName}/${businessName}/${ids.join(',')}`).json();
}

export function dictTypes(types: string[]) {
    return request.get<ApiResponse<Record<string, { dictLabel: string, dictValue: string }[]>>>(`system/dict/data/types/${types.join(',')}`).json();
}
