declare namespace ${ModuleName} {

    export interface ${BusinessName} {
    #foreach ($column in $columns)
      /**
       * $column.columnComment
       */
      $column.javaField?:#if($column.javaField.indexOf("id") != -1 || $column.javaField.indexOf("Id") != -1) string | number;
                            #elseif($column.javaType == 'Long' || $column.javaType == 'Integer' || $column.javaType == 'Double' || $column.javaType == 'Float' || $column.javaType == 'BigDecimal') number;
                            #elseif($column.javaType == 'Boolean') boolean;
                            #else string;
                        #end
    #end
    }

}
