/**
 * 由后台配置生成，不可手工修改
 */
import type { JSX } from "react";
import type { ProColumns } from "@ant-design/pro-components";
import type { TFunction } from "i18next";

#if(${dicts} != "")
type Dict = {
    label: string | JSX.Element;
    value: string | number;
    desc?: string;
};
#end

type Merger<T extends { dataIndex: string }> = (option: T) => T;

function merge<T extends { dataIndex: string }>(
    columns: (T & { dataIndex: string })[],
    options?: { [column: string]: Merger<T> },
): T[] {
    for (const idx in columns) {
        const exec = options?.[columns[idx].dataIndex];
        if (exec) {
            columns[idx] = exec({ ...columns[idx] });
        }
    }
    return columns;
}

export function getColumnList(
    t: TFunction<"translation", undefined>,
    options?: { [column: string]: Merger<ProColumns<${ModuleName}.${BusinessName}> & { dataIndex: string }> },
    #if(${dicts} != "")dictMap?: { [column: string]: Dict[] }#end
): ProColumns<${ModuleName}.${BusinessName}>[] {
    return merge([
        {
            dataIndex: "index",
            title: "序号",
            valueType: "index",
            fixed: "left",
            width: 80,
        },
#foreach($column in $columns)
    #if($column.isList == '1')
        #set($dictType=$column.dictType)
        #set($AttrName=$column.javaField.substring(0,1).toUpperCase() + ${column.javaField.substring(1)})
        #set($parentheseIndex=$column.columnComment.indexOf("（"))
        #if($parentheseIndex != -1)
            #set($comment=$column.columnComment.substring(0, $parentheseIndex))
        #else
            #set($comment=$column.columnComment)
        #end
        {
            title: "${comment}",
            dataIndex: "${column.javaField}",
            #if($column.isQuery != "1")
            search: false,
            #end
            proFieldProps: {
            #if($column.htmlType == "modalSearch")
                searchId: "$column.searchId",
            #end
                placeholder: "请输入$comment",
            },
            #if($column.htmlType == "select" || $column.htmlType == "radio" || $column.htmlType == "checkbox")
            valueType: "select",
            #if($column.dictType != "" || $column.readConverterOpt().size() > 0)
            fieldProps: {
                options: [
                #if($column.dictType != "")
                    ...dictMap?.["$column.dictType"] ?? []
                #else
                #foreach($opt in $column.readConverterOpt())
                    { value: "$opt.value", label: "$opt.label" },
                #end
                #end
                ],
            },
            #end
            #elseif($column.htmlType == "datetime")
            valueType: "date",
            #elseif($column.htmlType == "modalSearch")
            valueType: "modalSearch" as any,
            #elseif($column.htmlType == "imageUpload")
            render: (_, record) => {
                const isList = typeof(record.${column.javaField}) !== 'string';
                return <>
                    {isList ?
                        record.${column.javaField}.map(item => (<img src={item} />))
                        :
                        <img src={record.${column.javaField}} />
                    }
                </>
            }
            #end
        },
    #end
#end
    ], options);
}
