import type {
    ActionType,
    ProColumns,
    ProCoreActionType,
} from "@ant-design/pro-components";

import { BasicContent } from "#src/components/basic-content";
import { BasicTable } from "#src/components/basic-table";
import { useAccess } from "#src/hooks/use-access";

import { PlusCircleOutlined, DeleteOutlined } from "@ant-design/icons";
import { useQuery, useMutation } from "@tanstack/react-query";
import { Button } from "antd";
import { useRef, useState } from "react";
import { useTranslation } from "react-i18next";

import * as api from "#src/api/${moduleName}/${businessName}";
import { getColumnList } from "./columns";
import Edit from "./components/edit";

export default function Page() {
    const { t } = useTranslation();
    const { hasPerms } = useAccess();
    const [isOpen, setIsOpen] = useState(false);
    const [title, setTitle] = useState("");
    const [editId, setEditId] = useState<string | number>();
    const [selectedRowKeys, setSelectedRowKeys] = useState<React.Key[]>([]);

    const actionRef = useRef<ActionType>(null);
    const refreshTable = () => {
        actionRef.current?.reload();
    };

    const onCloseChange = (refresh?: boolean) => {
        setIsOpen(false);
        setEditId(undefined);
        if (refresh) {
            refreshTable();
        }
    };

    const deleteMutation = useMutation({
        mutationFn: async (ids: (string | number)[]) => {
            const { code, message } = await api.deleteByIds(ids);
            if (code !== 200) {
                window.$message?.error(message);
                throw new Error(message);
            }
            return true;
        },
    });

    const handleDeleteRow = async (ids: Array<string | number>, action?: ProCoreActionType<object>) => {
        if (!ids || ids.length === 0) {
            window.$message?.error("请选择要删除的行");
            return;
        }

        window.$modal?.confirm({
            title: "确认删除${functionName}？",
            content: "此操作不可恢复",
            onOk: async () => {
                const ok = await deleteMutation.mutateAsync(ids);
                if (!ok)
                    return;

                if (action?.reload) {
                    await action.reload();
                } else {
                    refreshTable();
                    setSelectedRowKeys([]);
                }
            },
        });
    };

    #if(${dicts} != "")
    const { data: dictMap } = useQuery({
        queryKey: ["dictTypes", $dicts],
        queryFn: async () => {
            const response = await api.dictTypes([$dicts]);
            if (response.code !== 200) {
                window.$message?.error(response.message);
                throw new Error(response.message);
            }
            return Object.fromEntries(
                Object.entries(response.data).map(([typed, list]) => [
                    typed,
                    list.map(item => ({
                        label: item.dictLabel,
                        value: item.dictValue,
                    }))
                ])
            );
        },
    });

    #end
    const columns: ProColumns<${ModuleName}.${BusinessName}>[] = [
        ...getColumnList(t, {
            XXX: (column) => {
                // TODO - 自定列
                return column;
            }
        }#if(${dicts} != ""), dictMap #end),
        {
            title: "工具栏",
            valueType: "option",
            key: "option",
            minWidth: 120,
            fixed: "right",
            disable: true,
            render: (node, record) => {
                return [
                    <Button
                        key="update"
                        type="link"
                        size="small"
                        disabled={!hasPerms('${moduleName}:${businessName}:update')}
                        onClick={() => {
                            setEditId(record.${pkColumn.javaField}!);
                            setIsOpen(true);
                            setTitle('编辑${functionName}');
                        }}
                    >编辑</Button>,
                    <Button
                        key="delete"
                        type="link"
                        size="small"
                        danger={true}
                        disabled={!hasPerms('${moduleName}:${businessName}:delete')}
                        onClick={() => {
                            handleDeleteRow([record.${pkColumn.javaField}!]);
                        }}
                    >删除</Button>
                ];
            },
        },
    ];

    return (
        <BasicContent className="h-full">
            <BasicTable<${ModuleName}.${BusinessName}>
                adaptive
                rowKey="${pkColumn.javaField}"
                columns={columns}
                actionRef={actionRef}
                rowSelection={{
                    selectedRowKeys,
                    preserveSelectedRowKeys: true,
                    onChange: (keys) => {
                        setSelectedRowKeys(keys);
                    },
                }}
                request={async (params) => {
                    const response = await api.page({ ...params, pageNum: params.current });
                    return {
                        ...response,
                        data: response.data?.list,
                        total: response.data?.total,
                    };
                }}
                toolBarRender={() => [
                    <Button
                        key="delete"
                        icon={<DeleteOutlined />}
                        danger
                        disabled={!hasPerms('${moduleName}:${businessName}:delete')}
                        onClick={() => {
                            handleDeleteRow([...selectedRowKeys.map(String)]);
                        }}
                    >删除</Button>,
                    <Button
                        key="create"
                        icon={<PlusCircleOutlined />}
                        type="primary"
                        disabled={!hasPerms('${moduleName}:${businessName}:create')}
                        onClick={() => {
                            setIsOpen(true);
                            setTitle('创建${functionName}');
                        }}
                    >新增</Button>,
                ]}
            />

            <Edit key={editId}
                title={title}
                ${pkColumn.javaField}={editId}
                open={isOpen}
                onClose={onCloseChange}
            />
        </BasicContent>
    );
};
