-- 菜单 SQL
insert into sys_menu (menu_id, menu_name, parent_id, order_num, path, component, is_frame, keep_alive, menu_type, visible, status, perms, icon, create_dept, create_by, create_time, update_by, update_time, remark)
values(${table.menuIds[0]}, '${functionName}', '${parentMenuId}', '1', '/${moduleName}/${businessName}', '/${moduleName}/${businessName}/index.tsx', 0, 1, 'C', '0', '1', null, '#', 103, 1, getdate(), null, null, '${functionName}菜单');

-- 按钮 SQL
insert into sys_menu (menu_id, menu_name, parent_id, order_num, path, component, is_frame, keep_alive, menu_type, visible, status, perms, icon, create_dept, create_by, create_time, update_by, update_time, remark)
values(${table.menuIds[1]}, '查询', ${table.menuIds[0]}, '1',  '#', '', 0, 0, 'F', '0', '0', '${permissionPrefix}:page',        '#', 103, 1, getdate(), null, null, '');

insert into sys_menu (menu_id, menu_name, parent_id, order_num, path, component, is_frame, keep_alive, menu_type, visible, status, perms, icon, create_dept, create_by, create_time, update_by, update_time, remark)
values(${table.menuIds[2]}, '新增', ${table.menuIds[0]}, '2',  '#', '', 0, 0, 'F', '0', '0', '${permissionPrefix}:create',          '#', 103, 1, getdate(), null, null, '');

insert into sys_menu (menu_id, menu_name, parent_id, order_num, path, component, is_frame, keep_alive, menu_type, visible, status, perms, icon, create_dept, create_by, create_time, update_by, update_time, remark)
values(${table.menuIds[3]}, '修改', ${table.menuIds[0]}, '3',  '#', '', 0, 0, 'F', '0', '0', '${permissionPrefix}:update',         '#', 103, 1, getdate(), null, null, '');

insert into sys_menu (menu_id, menu_name, parent_id, order_num, path, component, is_frame, keep_alive, menu_type, visible, status, perms, icon, create_dept, create_by, create_time, update_by, update_time, remark)
values(${table.menuIds[4]}, '删除', ${table.menuIds[0]}, '4',  '#', '', 0, 0, 'F', '0', '0', '${permissionPrefix}:delete',       '#', 103, 1, getdate(), null, null, '');

insert into sys_menu (menu_id, menu_name, parent_id, order_num, path, component, is_frame, keep_alive, menu_type, visible, status, perms, icon, create_dept, create_by, create_time, update_by, update_time, remark)
values(${table.menuIds[5]}, '导出', ${table.menuIds[0]}, '5',  '#', '', 0, 0, 'F', '0', '0', '${permissionPrefix}:export',       '#', 103, 1, getdate(), null, null, '');
