import { observer, useLocalObservable } from "mobx-react-lite";
import { useEffect } from "react";
#set($components = [])
#set($customComponents = [])
#foreach($column in $columns)
#if($column.htmlType == "input")
    #if(!$components.contains("ProFormText"))
        #set($ig = $components.add("ProFormText"))
    #end
#elseif($column.htmlType == "radio")
    #if(!$components.contains("ProFormRadio"))
        #set($ig = $components.add("ProFormRadio"))
    #end
#elseif($column.htmlType == "select")
    #if(!$components.contains("ProFormSelect"))
        #set($ig = $components.add("ProFormSelect"))
    #end
#elseif($column.htmlType == "textarea")
    #if(!$components.contains("ProFormTextArea"))
        #set($ig = $components.add("ProFormTextArea"))
    #end
#elseif($column.htmlType == "number")
    #if(!$components.contains("ProFormDigit"))
        #set($ig = $components.add("ProFormDigit"))
    #end
#elseif($column.htmlType == "datetime")
    #if(!$components.contains("ProFormDatePicker"))
        #set($ig = $components.add("ProFormDatePicker"))
    #end
#elseif($column.htmlType == "modalSearch")
    #if(!$customComponents.contains("ProModalSearchField"))
        #set($ig = $customComponents.add("ProModalSearchField"))
    #end
#elseif($column.htmlType == "codeMirror")
    #if(!$customComponents.contains("ProCodeMirrorField"))
        #set($ig = $customComponents.add("ProCodeMirrorField"))
    #end
#else
    #if(!$components.contains("ProFormText"))
        #set($ig = $components.add("ProFormText"))
    #end
#end
#end
import {
    DrawerForm,
#foreach($component in $components)
    $component,
#end
} from "@ant-design/pro-components";

import { Form, Upload } from "antd";
import { useQueries, useMutation } from "@tanstack/react-query";
import { useTranslation } from "react-i18next";

#foreach($component in $customComponents)
#if($component == "ProModalSearchField")
import { ProModalSearchField } from "#src/components/modal-search";
#elseif($component == "ProCodeMirrorField")
import { ProCodeMirrorField } from "#src/components/code-mirror";
#end
#end
import createState from "../mobx/edit";
import * as api from "#src/api/${moduleName}/${businessName}";

interface EditProps {
    pkId?: string | number
    dictMap?: {
        [k: string]: {
            label: string
            value: string
        }[]
    }

    open?: boolean
    onClose?: (refresh?: boolean) => void
}

export default observer(({ pkId,#if($dicts != "") dictMap,#end open = true, onClose, ...props }: EditProps) => {
    const { t } = useTranslation();
    const [form] = Form.useForm<${ModuleName}.${BusinessName}>();
    const context = useLocalObservable(createState({ ${pkColumn.javaField}: pkId }));

    /** 加载数据 */
    const [${businessName}] = useQueries({
        queries: [
            {
                queryKey: ["form", pkId],
                queryFn: async () => {
                    if (!pkId) {
                        return null;
                    }
                    const { data } = await api.getById(pkId);
                    return data;
                }
            },
        ]
    });

    /** 创建接口 */
    const createMutation = useMutation({
        mutationFn: async (data: ${ModuleName}.${BusinessName}) => {
            const { code, message } = await api.create(data);
            if (code !== 200) {
                window.$message?.error(message);
                throw new Error(message);
            }
        },
    });

    /** 更新接口 */
    const updateMutation = useMutation({
        mutationFn: async (data: ${ModuleName}.${BusinessName}) => {
            const { code, message } = await api.update(data);
            if (code !== 200) {
                window.$message?.error(message);
                throw new Error(message);
            }
        },
    });

    const onFinish = async (values: ${ModuleName}.${BusinessName}) => {
        /* 有 id 则为修改，否则为新增 */
        if (pkId) {
            await updateMutation.mutateAsync({ ...form.getFieldsValue(true) });
            window.$message?.success(t("common.updateSuccess"));
        }
        else {
            await createMutation.mutateAsync(values);
            window.$message?.success(t("common.addSuccess"));
        }
        /* 刷新表格 */
        onClose?.(true);
        // 不返回不会关闭弹框
        return true;
    };

    useEffect(() => {
        if (open) {
            if (${businessName}.data) {
                form.setFieldsValue(${businessName}.data);
                context.update(${businessName}.data);
                return;
            }
            form.resetFields();
        }
    }, [open, ${businessName}.data]);

    return (
        <DrawerForm<${ModuleName}.${BusinessName}>
            {...props}
            open={open}
            title={pkId ? "编辑${functionName}" : "创建${functionName}"}
            onValuesChange={(changed) => context.update(changed)}
            onOpenChange={(visible) => {
                if (visible === false) {
                    onClose?.();
                }
            }}
            width="600px"
            resize={true}
            labelCol={{ span: 8 }}
            wrapperCol={{ span: 24 }}
            layout="horizontal"
            form={form}
            autoFocusFirstInput
            drawerProps={{
                destroyOnHidden: true,
            }}
            onFinish={onFinish}
            initialValues={{
                status: '0',
            }}
        >
    #foreach($column in $columns)
    #set($field=$column.javaField)
    #if(($column.insert || $column.edit) && !$column.pk)
    #set($parentheseIndex=$column.columnComment.indexOf("（"))
    #if($parentheseIndex != -1)
    #set($comment=$column.columnComment.substring(0, $parentheseIndex))
    #else
    #set($comment=$column.columnComment)
    #end
    #set($dictType=$column.dictType)
        #if($column.htmlType == "radio")
            <ProFormRadio.Group
                name="$field"
                label="$comment"
                radioType="button"
                placeholder="请选择$comment"
                readonly={context.isDisabled([ #if($column.insert)'insert',#end #if($column.edit)'edit',#end ])}
                #if($column.isRequired == "1")
                allowClear={false}
                rules={[
                    { required: true },
                ]}
                #end
                #if($column.dictType != "")
                options={dictMap?.["$column.dictType"]}
                #elseif($column.readConverterExp() != "")
                options={[
                #foreach($opt in $column.readConverterOpt())
                    { value: "$opt.value", label: "$opt.label" },
                #end
                ]}
                #end
            />
        #elseif($column.htmlType == "select")
            <ProFormSelect
                name="$field"
                label="$comment"
                placeholder="请选择$comment"
                readonly={context.isDisabled([ #if($column.insert)'insert',#end #if($column.edit)'edit',#end ])}
                #if($column.isRequired == "1")
                allowClear={false}
                rules={[
                    { required: true },
                ]}
                #end
                #if($column.dictType != "")
                options={dictMap?.["$column.dictType"]}
                #elseif($column.readConverterExp() != "")
                options={[
                #foreach($opt in $column.readConverterOpt())
                    { value: "$opt.value", label: "$opt.label" },
                #end
                ]}
                #end
            />
        #elseif($column.htmlType == "textarea")
            <ProFormTextArea
                name="$field"
                label="$comment"
                placeholder="请输入$comment"
                readonly={context.isDisabled([ #if($column.insert)'insert',#end #if($column.edit)'edit',#end ])}
                allowClear={false}
                #if($column.isRequired == "1")
                rules={[
                    { required: true },
                ]}
                #end
            />
        #elseif($column.htmlType == "number")
            <ProFormDigit
                name="$field"
                label="$comment"
                placeholder="请输入$comment"
                readonly={context.isDisabled([ #if($column.insert)'insert',#end #if($column.edit)'edit',#end ])}
                #if($column.isRequired == "1")
                allowClear={false}
                rules={[
                    { required: true },
                ]}
                #end
            />
        #elseif($column.htmlType == "datetime")
            <ProFormDatePicker
                name="$field"
                label="$comment"
                placeholder="请输入$comment"
                readonly={context.isDisabled([ #if($column.insert)'insert',#end #if($column.edit)'edit',#end ])}
                #if($column.isRequired == "1")
                allowClear={false}
                rules={[
                    { required: true },
                ]}
                #end
            />
        #elseif($column.htmlType == "codeMirror")
            <ProCodeMirrorField
                name="$field"
                label="$comment"
                placeholder="请输入$comment"
                readonly={context.isDisabled([ #if($column.insert)'insert',#end #if($column.edit)'edit',#end ])}
                language="javascript"
                #if($column.isRequired == "1")
                rules={[
                    { required: true },
                ]}
                #end
            />
        #elseif($column.htmlType == "imageUpload")
            <ProFormUploadButton
                name="$field"
                label="$comment"
                placeholder="请输入$comment"
                readonly={context.isDisabled([ #if($column.insert)'insert',#end #if($column.edit)'edit',#end ])}
                #if($column.isRequired == "1")
                rules={[
                    { required: true },
                ]}
                #end
                fieldProps={{
                    beforeUpload: (file) => {
                        const isPNG = file.type === "image/png";
                        if (!isPNG) {
                            window.$message?.error(`${file.name} 不是一个图片文件`);
                        }
                        return isPNG || Upload.LIST_IGNORE;
                    }
                }}
            />
        #else
            <ProFormText
                name="$field"
                label="$comment"
                placeholder="请输入$comment"
                readonly={context.isDisabled([ #if($column.insert)'insert',#end #if($column.edit)'edit',#end ])}
                allowClear={false}
                #if($column.isRequired == "1")
                rules={[
                    { required: true },
                ]}
                #end
            />
        #end
    #end
    #end
        </DrawerForm>
    );
});
